{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { 
          "node": "8"
        },
        "forceAllTransforms": true
      }
    ],
    "@babel/typescript",
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./server",
            "azcommon": "./server/azcommon",
            "config": "./server/core/config"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./server",
            "azcommon": "./server/azcommon",
            "config": "./server/core/config"
          }
        }]
      ]
    }
  }
}
